<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Tweeter Web Application</display-name>
  
  <listener>
    <listener-class>co.nz.codingdojo.tweeter.web.guice.GuiceServletContextListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
  </context-param>

  <servlet>
  	<description></description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>
  	co.nz.codingdojo.tweeter.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
  	<description></description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>
  	co.nz.codingdojo.tweeter.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
  	<description></description>
  	<display-name>SignupServlet</display-name>
  	<servlet-name>SignupServlet</servlet-name>
  	<servlet-class>
  	co.nz.codingdojo.tweeter.web.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>

</web-app>
